@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}

 .about{
        display: grid;
        

    }

    .intro{
        display: grid;
        height: 110vh;
        
    }

        .intro #hero {
            display: grid;
            place-self: end start;
            grid-area: 1/1;
            height: 70vh;
            margin-left: 50px;

            margin-bottom: 120px;
        }
    
        .about-text {
            display: grid;
            /* grid-template-rows: 1.3fr 2fr 0.5fr; */
            grid-area: 1/1;
            /* grid-template-columns: 0.25fr 2fr 0.2fr; */
            margin-left: 200px;
            /* place-content: center; */
            place-self: center start;
            margin-top: 20px;
            


            
    
    
        }

        .about-text h1{
            font-size: 8rem;
            line-height: 1;
        }
    

        .about-text p{
            /* padding-right: 800px; */
            margin-left: 20px;

            font-size: 1.5rem;
            line-height: 2rem;
            /* margin-top: 20px; */


            
        }

        .title img{
            height: 120px;
            margin-left: 7rem;
        }

        .text .title{
            display: flex;
        }



.proj {
    display: grid;

}

.overlay {
    display: grid;
    grid-area: 1/1;
    background: #01112e1e;
    background-blend-mode: darken;
    backdrop-filter: blur(2px);
}

.image {
    display: grid;
    grid-area: 1/1;

}

.modalo {
    background: #01112e5e;
    background-blend-mode: darken;
    backdrop-filter: blur(2px);
    z-index: 200000;

}

.modal {
    transition: ease-out;
    z-index: 30000000;


}

.best {
    transition: all 1.5s ease-in-out;

}













.end-center {
    display: grid;
    place-self: center end;
}

.start-end {
    display: grid;
    place-self: start end;
}

.center-start {
    display: grid;
    place-self: center start;
}

.center-end {
    display: grid;
    place-self: center end;
}












/* navbar */

nav {
    padding: 5px 5%;
    display: flex;
    position: fixed;
    width: 100%;
    padding-top: 40px;
    background-color: rgba(233, 234, 255, 0.4);
    backdrop-filter: blur(10px);
    padding-top: 2rem;
    padding-bottom: 0.75rem;
    justify-content: space-between;
    align-items: center;

    z-index: 40;
}

nav .logo {
    display: flex;
    align-items: center;
}



nav .logo h1 {
    font-size: 2.3em;
    /* text-[2.3em] */
    letter-spacing: 0.05em;
    /* tracking-wide */
    font-weight: 500;
    /* font-medium */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;

}

nav ul li {
    margin-left: 1.5rem;
    place-self: center;

}

nav ul li a {
    /* gap-20 */
    font-size: 1.5em;
    /* text-[1.2em] */
    font-weight: 400;

}

.contact-button {
    border: 1px solid black;
    /* border-black border-[2px] */
        border-radius: 1414px;
    /* rounded-3xl */
    padding: 0.75rem 1.5rem;
    /* p-3 */
    display: grid;
    place-self: center;
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 1px;
    background-color: #1f1f1f;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}

.hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
    width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
}

.menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255);
    transition: all 0.5s ease-in;
    z-index: 2;
}

.active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
    padding: 0;
    list-style: none;
}

.menubar ul li {
    margin-bottom: 32px;
}

.menubar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 95%;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
}

.menubar ul li a:hover {
    background-color: #f5f5f5;
}

@media screen and (max-width: 650px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav .logo h1 {
            font-size: 1.2rem;
            /* text-[2.3em] */
            letter-spacing: 0.05em;
            /* tracking-wide */
            font-weight: 500;
            /* font-medium */
        }


}



/* Tablets and small desktops */
@media screen and (min-width: 650px) {
    /* styles */
    nav .logo h1 {
            font-size: 1.5em;
            /* text-[2.3em] */
            letter-spacing: 0.05em;
            /* tracking-wide */
            font-weight: 500;
            /* font-medium */
        }

        nav ul li a {
            /* gap-20 */
            font-size: 1em;
            /* text-[1.2em] */
            font-weight: 300;
    
        }

        

                 .intro #hero {
                     height: 30vh;
                     margin-bottom: 180px;

                     /* place-self: center start; */
        
                 }
        
                 .about-text h1 {
                     font-size: 4rem;
                     line-height: 1;
                 }
        
        
                 .text p {
                     /* padding-right: 800px; */
                     margin-top: 20px;
                     margin-left: 20px;
        
                     font-size: 1rem;
                     line-height: 1.3rem;
                     width: 50%;
        
        
                 }
        
                 .about-text {
                     margin-left: 150px;
                     place-self: center;
                    margin-top: 15px;
                 }
        
                 .title img {
                     height: 50px;
                     margin-left: 2rem;
                 }
}

/* Medium desktops */
@media screen and (min-width: 1024px) {
    /* styles */
    nav .logo h1 {
            font-size: 1.2em;
            /* text-[2.3em] */
            letter-spacing: 0.04em;
            /* tracking-wide */
            font-weight: 500;
            /* font-medium */
        }
    
        nav ul li a {
            /* gap-20 */
            font-size: 0.7em;
            /* text-[1.2em] */
            font-weight: 300;
    
        }

        nav{

            padding-top: 20px;

        }


        .contact-button{
            padding: 10px 10px;
        }

       

                .intro #hero{
                    height: 50vh;
                    margin-bottom: 180px;

                }
                 .about-text h1 {
                     font-size: 4rem;
                     line-height: 1;
                 }
        
        
                 .text p {
                     /* padding-right: 800px; */
                     margin-top: 20px;
                     margin-left: 20px;
        
                     font-size: 1rem;
                     line-height: 1.3rem;
                    width: 54%;
        
        
                 }

                 .about-text{
                    margin-left: 150px;
                 }
        
                 .title img {
                     height: 50px;
                     margin-left: 2rem;
                 }

               
}

@media screen and (min-width: 1200px) {

    nav .logo h1 {
            font-size: 1.8em;
            /* text-[2.3em] */
            letter-spacing: 0.04em;
            /* tracking-wide */
            font-weight: 500;
            /* font-medium */
        }
    
        nav ul li a {
            /* gap-20 */
            font-size: 0.9em;
            /* text-[1.2em] */
            font-weight: 300;
    
        }
    
        nav {
    
            padding-top: 20px;
    
        }


    .intro #hero {
            height: 60vh;
            margin-bottom: 100px;

            
        }

         .about-text h1 {
             font-size: 5rem;
             line-height: 1;
         }
    
    
        
    
         .title img {
             height: 70px;
             margin-left: 2rem;
         }
    
         .text p {
             width: 50%;
              margin-left: 20px;
    
             font-size: 1.2rem;
             line-height: 1.5rem;
             margin-top: 20px;
         }

         .about-text{
            margin-left: 150px;
            margin-top: 150px;
         }

    


    
    
}

/* Large desktops */
@media screen and (min-width: 1440px) {
    /* styles */
    nav .logo h1 {
            font-size: 2.3em;
            /* text-[2.3em] */
            letter-spacing: 0.05em;
            /* tracking-wide */
            font-weight: 500;
            /* font-medium */
        }
    
        nav ul li a {
            /* gap-20 */
            font-size: 1.4em;
            /* text-[1.2em] */
            font-weight: 300;
    
        }
    nav ul{
        gap: 60px;
    }

    nav{

        padding: 40px 100px;
    }

         .intro #hero {
             height: 70vh;
             margin-bottom: 120px;
         }

  
         .about-text h1 {
             font-size: 6.5rem;
         }
    
    
         .about-text p {
             /* padding-right: 800px; */
             margin-left: 20px;
    
             font-size: 1.8rem;
             line-height: 2rem;
    
    
    
         }
    
         .title img {
             height: 100px;
             margin-left: 7rem;
         }

        .about-text p {
            /* padding-right: 800px; */
            margin-left: 20px;
    
            width: 50%;
    
    
        }

        .abou-text{
            /* margin-top: 120px ;
            margin-left: 400px; */
        }

  

    
    


}

/* 4K screens */
@media screen and (min-width: 2000px) {
    /* styles */

    nav .logo h1 {
            font-size: 2.5em;
            /* text-[2.3em] */
            letter-spacing: 0.05em;
            /* tracking-wide */
            font-weight: 500;
            /* font-medium */
        }
    
        nav ul li a {
            /* gap-20 */
            font-size: 1.8em;
            /* text-[1.2em] */
            font-weight: 300;
    
        }

    nav ul{
        gap: 100px;
    }

}


